@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@400;700&display=swap');
*{
    margin: 0;  
    padding: 0; 
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.container{
    width: 100%;
    max-width:1200px;
    margin: 0 auto;
}
.header-nav{
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    margin-bottom: 37px;
    position: sticky;
    top: 0;
    z-index: 20;
    background-color: #fff;
}
.head-nav{
    display: flex;
    justify-content: space-between;
    padding:    15px 0 17px 0;
    align-items:    center;
}
.navigation li a{
    text-decoration: none;
    color:  #000;
    font-size: 15px;
    transition: .2s ease;
}
.navigation li a:hover{
    color: #FF9900;
}
.navigation{
    list-style-type: none;
}
.navigation li{
    display: inline;
}
.navigation li:not(:last-child){
    margin-right: 17px;
}
.nav-btn{
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    padding: 8px 10px;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    color: #173A56;
    background-color: #fff;
    transition: .2s ease-in-out;
    cursor: pointer;
}
.signIn:hover{
    background-color: #BCD0E5;
}
.signUp{
    background: #FF9900;
    border-radius: 4px;
    color:  #fff;
    border: 1px solid #FF9900;
}
.nav-btn:not(:first-child){
    margin-left: 14px;
}
/* Design */
.design{
    display: flex;
    margin-bottom: 140px;
    align-items: center;
}
.design-heading{
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    width: 550px;
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
}
.design-text{
    font-weight: 480;
    font-size: 18px;
    line-height: 28px;
    color: #544837;
    width: 400px;   
    margin-bottom: 45px;
    font-family: 'Poppins', sans-serif;
}
.design-btn{
    display: flex;
    align-items: center;
    list-style-type: none;
}
.start{
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
     color: #FFFFFF;
     text-decoration: none;
     background-color: #FF9900;
     border-radius: 4px;
     padding:   15px 40px;
     transition: .2s ease-out;
}
.start:hover{
    background-color: #FE8800;
}
.watch{
    margin-left: 40px;
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    color: #FF9900;
}
.watch:before{
    content: '';
    background-image: url(./images/triangel.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 15px;
    height: 15px;
    margin-right: 5px;
}
/* Tools */
.tools{
    background-image: url(./images/bg.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    padding-bottom: 40px;
    margin-bottom:  100px;
}
.tools-heading{
    text-align: center;
    font-size: 34px;
    line-height: 46px;
    text-align: center;
    width: 460px;
    margin: 0 auto;
}
.tools-title{
    margin-bottom: 40px;
}
.tools-cards{
    display: flex;
    justify-content: space-between;
    margin-bottom: 46px;
}
.tool-card{
    width: 262px;
    height: 178px;
}
.card-icon{
    margin-bottom: 30px;
    font-weight: 600;
   font-size: 22px;
   line-height: 30px;
}
.card-title{
    margin-bottom: 16px;
}
.card-descr{
    font-size: 16px;
    line-height: 26px;
    color: #544837;
}
.tools-btn{
    margin-bottom: 45px;
    display: flex;
    justify-content: center;
}
.tools-link{
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    background: #FF7549;
    border-radius: 4px;
    text-decoration: none;
    padding: 10px 20px;
    transition: .2s ease-out;
    outline:none;
}
.tools-link:hover{
    background-color: #FF6438;
}
.pics-card-heading{
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 14px;
}
.pics-card-text{
    margin-bottom: 24px;
}
.pics-button{
    list-style-type: none;
}
.pics-button li a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
}
.pics-button li{
    display: inline-block;
    margin-bottom: 31px;
    margin-right: 7px;
    padding: 10px 20px;
    border: 2px solid #F5F5F5;
    border-radius: 90px;
}
.orange-btn{
    border: 2px solid #FF9900 ;
    background-color: #FF9900;
}
.orange-btn a{
  color:#fff !important;
}

.card-text{
    padding:33px 24px ;
}
.card-text-title{
    width:auto;
    min-width:310px;
    font-weight: 700;
    font-size: 24px;  
    margin-bottom: 30px;
}
.pic-card_4{
    grid-column-start: 1;
    grid-column-end: 3;
}
.pics-wrapper{
    display: grid;  
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    column-gap: 34px;
    row-gap: 30px;
    margin-bottom: 95px;
}

.pic-card, .pic-card_4{
    box-shadow: 0px 4px 20px 0px #0000000D;
    border-radius: 8px;
    transition: .2s ease-in-out;
    cursor: pointer;
    }
.pic-card:hover, .pic-card_4:hover{
    box-shadow: 0px 8px 10px 5px #0000000D;
}
.pic-card:active, .pic-card_4:active{
    box-shadow: 0px 10px 15px 0px #0000000D;
}
.pic-card-img{
    width: auto;
    min-width: 377px;
}
.pic-card-img img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}
.card-text-btns{
    list-style-type: none;
}
.card-text-btns li{
    display: inline-block;
    margin-right: 5px;
    padding: 8px 20px;
    border-radius: 90px;
    background-color: #F5F5F5;
}
.card-text-btns li a{
    text-decoration: none;
    color: #544837;
    font-size: 13px;
}
/* About */
.about{
    margin-bottom: 100px;
}
.about-cards{
    display: flex;
}
.about-card-item:last-child{
    margin-right: 0;
}
.about-card-item{
    width: 345px;
    height: 140px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 35px;
    margin-right: 65px;
}
.about-card-img{
    position: absolute;
    top: 10px;
    right: -70px;
}

.about-text{
    margin-bottom: 45px;
}
.about-card-text h4{
    color: #544837;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
}
.about-ard-text p{
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
}
.about-card-text a{
    color: #1943EF;
}
/* Contact */
.contact{
    background-color: #FFEEE1;
}
.contact-container{
    display: flex;
    padding-top: 60px;
}
.contact-text{
   margin-bottom: 90px;
    margin-right: 90px;
}
.contact-text-heading{
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 17px;
}
.contact-dscr{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom:  33px;
    width: 528px;
}
.contact-form{
    padding-top: 50px;
}
input{
    width: 280px;
    height: 45px;
    margin-right: 8px;
    border: none;
    margin-bottom: 16px; 
    padding: 10px 20px;
    border-radius: 4px;
}
textarea{
    width: 570px;
    height: 160px;
    border: none;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 4px;
}
::placeholder{
    font-weight: 400;
    font-size: 16px;
    color: #C6C6C6;
    font-family: 'Open Sans', sans-serif;
}
.contact-btn{
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    padding: 15px 30px;
    border: none;
    background-color: #FF9900;
    border-radius: 4px;
    cursor: pointer;
    transition: .2s ease-out;
}
.contact-btn:hover{
    background-color: #fff;
    border: 1px solid #FF9900 ;
    color: #FF9900;
}
.contact-text a img{
    width: 25px;
    height: 25px;
    margin-right: 10px;
}
.contact-text a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #000;
}
/* Footer */
footer{
    padding-top: 60px;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}
.footer-nav{
    list-style-type: none;
}
.footer-nav li a{
    text-decoration: none;
    color: #000;
    transition: .2s ease;
}
.footer-item h4{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;    
}
.footer-nav li {
    margin: 10px 0;
}
.footer-nav li a:hover{
    color: #FF9900;
}
.footer-nav li:last-child{
    margin: 0;
}